---
layout: page
title: Fornitori Open Source per la Scuola
image: /fornitori/dad.jpg
---

<style>
.supplier {
	border: 1px solid #BBB;
	padding: 30px 20px;
	margin-bottom: 30px;
	color: #000 !important;
	border-radius: 10px;
	background-image: url('/assets/images/sfondo_matite.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 100%;
}

.supplier a {
	width: 100%;
	color: #000;
	float: left;
}

.supplier a:hover {
	text-decoration: none;
}

.supplier .name {
	font-size: 2em;
	display: block;
}

.supplier .info {
	margin-top: 20px;
	display: block;
}

.supplier .tag {
	padding: 8px;
	border-radius: 8px;
	background-color: #A6FFB0;
	font-size: 0.8em;
}

.supplier.highlight {
	text-align: left;
	background-image: url('/assets/images/sfondo_matite_2.jpg');
	background-position: top right;
}

.supplier.highlight .name {
	font-size: 3em;
}

.supplier.highlight img {
	float: left;
	margin-right: 20px;
}

@media (max-width: 769px) {
	.supplier.highlight .name {
		display: block;
		clear: both;
	}

	.supplier .tag {
		display: inherit;
	}
}
</style>

<div class="row">
	<div class="col-md-12">
		<h1 class="mb-3">{{ page.title }}</h1>

		<p>Esistono tante applicazioni libere e open source per la scuola e per la didattica digitale, che garantiscono la <strong>tutela dei dati</strong> di insegnanti e studenti, un alto grado di <strong>personalizzazione</strong> e spesso anche un <strong>vantaggio economico</strong> rispetto ad altre offerte commerciali, ma non è sempre semplice trovare un referente tecnico che possa provvedere a installazione, hosting e manutenzione continuativa nel tempo.</p>
		<p>Qui trovi alcuni riferimenti, tutti italiani, da contattare per farti dare una mano ed offrire un servizio di qualità per la tua scuola.</p>

		<hr>

		<div class="row">
			<div class="col-md-6">
				<h3>BigBlueButton</h3>
				<p>La più diffusa soluzione open source per la didattica a distanza, espressamente costruita per tenere lezioni online: presentazione di documenti, lavagna collaborativa, e strumenti per la moderazione dei partecipanti alla chiamata. È il prodotto meglio integrato con <strong>Moodle</strong>, spesso vengono offerti pacchetti che includono entrambi oppure può essere integrato con una propria istanza già esistente.</p>
			</div>
			<div class="col-md-6">
				<h3>Moodle</h3>
				<p>Una delle piattaforme di e-learning più popolari al mondo, dispone di innumerevoli strumenti per organizzare i propri corsi, pubblicare contenuti, svolgere esercitazioni e test, e molto altro.</p>
			</div>
			<div class="col-md-6">
				<h3>eduMeet</h3>
				<p>Una applicazione web semplice e immediata per tenere i propri meeting in video conferenza. Meno ricca di BigBlueButton, ma per questo più facile da usare.</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">
				<div class="supplier highlight">
					<a href="https://scuolalibera.continuity.space/">
						<img src="https://www.ils.org/assets/images/sponsor/continuity.png"><span class="name">Continuity</span>
						<span class="info">
							<span class="tag">BigBlueButton</span> <span class="tag">Moodle</span> <span class="tag">Disponibile anche su MEPA</span>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="supplier highlight">
					<a href="https://www.ergonet.it/hosting/hosting-valore-elearning.html">
						<img src="https://www.ils.org/assets/images/sponsor/ergonet.png"><span class="name">Ergonet</span>
						<span class="info">
							<span class="tag">Moodle</span>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="supplier">
					<a href="https://www.nanoformazione.it/">
						<span class="name">Nano Formazione</span>
						<span class="info">
							<span class="tag">BigBlueButton</span> <span class="tag">Moodle</span> <span class="tag">Su MEPA</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="supplier">
					<a href="https://www.mediatouch.it/">
						<span class="name">Media Touch</span>
						<span class="info">
							<span class="tag">BigBlueButton</span> <span class="tag">Moodle</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="supplier">
					<a href="https://elearning.informaetica.it/">
						<span class="name">Informaetica</span>
						<span class="info">
							<span class="tag">BigBlueButton</span> <span class="tag">Moodle</span> <span class="tag">Su MEPA</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="supplier">
					<a href="https://pieroni.biz/">
						<span class="name">Pieroni &amp; C.</span>
						<span class="info">
							<span class="tag">BigBlueButton</span> <span class="tag">Moodle</span>
						</span>
					</a>
				</div>
			</div>
		</div>

		<hr/>

		<p>
			<a href="http://www.ils.org/contatti" target="_blank">Contatta l'associazione Italian Linux Society</a> per segnalare la tua offerta di soluzioni open source per la scuola, o visita <a href="https://www.linux.it/softwarelibero" target="_blank">linux.it/softwarelibero</a> per maggiori informazioni sul software libero.
		</p>
	</div>
</div>
