---
layout: page
title: Contenuti
---

<p><img alt="Creative Commons" class="float-right" src="/assets/images/cc.png">Esiste una infinità di risorse editoriali e multimediali liberamente accessibili, distribuite con licenze che ne permettono espressamente la copia, la ridistribuzione e la modifica, gratuite e fruibili da tutti. La più famosa è forse <a href="https://it.wikipedia.org/">Wikipedia</a>, l'enciclopedia libera, ma ne esistono molte create fin dall'inizio a fine didattico. Tra i motivi percui è bene adottare questo genere di materiali:</p>

<ul>
	<li>sono gratuiti. Cosa non da poco, considerando l'impatto delle spese per i libri scolastici sulle famiglie. Esistono anche risorse editoriali libere destinate alla stampa, veri e propri libri di testo scaricabili in formato digitale e stampabili "in proprio" al solo costo di carta ed inchiostro e/o presso la più vicina copisteria</li>
	<li>sono modificabili e personalizzabili, sia da parte dei docenti per confezionare i propri materiali didattici sia da parte degli studenti</li>
	<li>educano alla condivisione ed alla collaborazione, principi sempre più importanti nell'approccio alla cultura</li>
</ul>

<hr/>

<h2>Mi hanno detto che...</h2>

<p class="lead">... Wikipedia, ed altri contenuti prodotti della community, non sono attendibili</p>

<p>Gli editori tradizionali si sono molto spesi negli ultimi anni per seminare dubbio ed incertezza, e riuscire a mantenere un ruolo di monopolio nei confronti della diffusione della cultura. Se da una parte è vero che, essendo questi contenuti accessibili e modificabili da chiunque, è possibile che qualcuno vada - più o meno intenzionalmente - a pubblicare informazioni non valide, dall'altra parte c'è chi fa di queste potenziali imprecisioni un utilissimo strumento educativo; se il metodo didattico non è più incentrato sul "nozionismo", ovvero sul trasmettere concetti dati a priori per buoni, ma sulla validazione e l'intreccio delle fonti a disposizione, il materiale di studio stesso può diventare oggetto di analisi e revisione.</p>

<hr/>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h3>Per approfondire</h3>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="https://it.wikipedia.org/">https://it.wikipedia.org/</a>
					<p>Wikipedia, l'enciclopedia libera per antonomasia. Ha diversi sotto-progetti, dedicati alla condivisione di immagini, alla stesura collaborativa di libri, e pure un dizionario!</p>
				</li>
				<li class="list-group-item">
					<a href="https://it.vikidia.org/">https://it.vikidia.org/</a>
					<p>Come Wikipedia, ma dedicato ad utenti dagli 8 ai 13 anni. Utile spunto per insegnare a lavorare in modo collaborativo anche ai più piccoli.</p>
				</li>
				<li class="list-group-item">
					<a href="http://www.matematicamente.it/manuali-scolastici/">http://www.matematicamente.it/manuali-scolastici/</a>
					<p>C3 è una collana di libri didattici distribuiti in licenza Creative Commons, che possono essere scaricati, stampati ed adottati come libri di testo a scuola.</p>
				</li>
				<li class="list-group-item">
					<a href="http://www.liberliber.it/">http://www.liberliber.it/</a>
					<p>Migliaia di libri della letteratura italiana ed internazionale distribuiti in licenza libera.</p>
				</li>
				<li class="list-group-item">
					<a href="https://openclipart.org/">https://openclipart.org/</a>
					<p>Raccolta di immagini vettoriali distribuite in pubblico dominio.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h3>Ultime News</h3>
			</div>
			<ul class="list-group list-group-flush">
				{% for post in site.categories['contenuti'] limit:3 %}
					<li class="list-group-item">
						<a href="{{ post.url }}">{{ post.title }}</a>
						<p>{{ post.excerpt }}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
