---
layout: page
title: Software
---

<img alt="Logo Software Libero" class="float-right" src="https://www.linux.it/assets/images/logo_sl.png">

<h1 class="mb-3">{{ page.title }}</h1>

<p>Il <a href="http://www.linux.it/softwarelibero">software libero</a> è software distribuito con una licenza che ne permette l'utilizzo incondizionato, l'analisi del comportamento, la sua modifica, e la libera ridistribuzione. Per quanto questi possano apparire dettagli di carattere tecnico essi hanno un grosso impatto, ed ancor più in contesto scolastico:</p>

<ul>
	<li>è lecito (ed anzi incoraggiato!) fornirne copie gratuite ai propri studenti affinché possano usare anche a casa i programmi visti in aula, per fare i compiti o per studiare. Succede ancora troppo spesso che qualche docente scelga, solitamente per abitudine, di adottare applicazioni didattiche proprietarie e a pagamento, e sfacciatamente ne faccia circolare copie pirata tra i propri studenti: dalla scuola ci si aspetterebbe un diverso approccio nei confronti del concetto di "legalità"</li>
	<li>essendo analizzabile e modificabile può diventare esso stesso oggetto di studio e di discussione in classe. Il modello di sviluppo opensource, condiviso e collaborativo, può essere applicato come modello didattico vincente per la scuola del XXI secolo, e non necessariamente solo per il software</li>
	<li>le applicazioni che implementano servizi di condivisione, di files o di contenuti, possono essere installate localmente nella rete della scuola, del laboratorio o nella singola classe, anziché essere fruite via Internet. In questo modo anche le scuole che non hanno sufficiente connettività per gestire decine di classi con centinaia di studenti non devono rinunciare a tali utili strumenti</li>
	<li>non è dato sapere cosa fa una applicazione o un servizio chiuso e proprietario nei confronti delle informazioni che vengono lì caricate e gestite, e spesso le "condizioni d'uso" non sono (deliberatamente) molto chiare a tal proposito. Con un evidente impatto negativo nei confronti della privacy, tema estremamente delicato soprattutto quando si ha a che fare con dei minori</li>
</ul>

<hr/>

<h2>Mi hanno detto che...</h2>

<p class="lead">... i ragazzi devono imparare ad usare i programmi che si troveranno ad usare nel mondo del lavoro</p>
<p>A seconda del tipo di scuola in cui insegni, e considerando che molti dei tuoi studenti vorranno frequentare l'università prima di cercarsi un lavoro, passeranno ancora almeno 5 anni prima che qualcuno in un ufficio o in una agenzia gli dica quali programmi usare. Per non contare tutti gli anni che ancora passeranno prima che essi vadano in pensione. In tale lasso di tempo i programmi usati "nel mondo del lavoro" cambieranno ancora centinaia di volte. Windows 7 è completamente diverso da Windows 8, che è completamente diverso da Windows 10. Office 2003 è completamente diverso da Office 2010, che è completamente diverso da Office 365. Ogni release di Photoshop o di AutoCAD introduce differenze e modifiche. Il punto non è ammaestrare i ragazzi su una certa versione di un certo programma, ma abituarli ad adattarsi agli strumenti (informatici, ma non solo) che man mano si troveranno davanti nel corso della vita. Tanto vale iniziare a farlo usando soluzioni gratuite e liberamente accessibili!</p>

<p class="lead">... esistono pacchetti "educational" offerti dalle aziende per avere licenze a prezzo scontato, o addirittura gratuitamente</p>
<p>Le quali licenze dovranno poi essere profumatamente pagate non appena il tuo studente non sarà più studente. I pacchetti "educational" sono lo strumento con cui i produttori di software proprietario sfruttano la scuola come vettore promozionale e commerciale, preparando il proprio mercato per il futuro; essi non sono una opportunità per la scuola, ma per chi riesce ad ottenere tale risultato facendolo pure passare per generoso gesto di altruismo. Per non parlare delle applicazioni inizialmente fornite gratuitamente che poi diventano a pagamento dopo qualche versione: i files con esse realizzati potranno essere aperti e consultati solo con quelle, e non potrai far altro che pagare (o rifare daccapo il tuo lavoro)</p>

<p class="lead">... dopotutto, finché uso i programmi in classe con gli studenti, posso anche piratarli</p>
<p>Bel valore educativo! La pirateria software a scuola è una piaga molto più diffusa di quanto non si pensi, e non pochi sono i docenti che, un po' per cattiva abitudine ed un po' per scarsa deontologia, non si fanno scrupoli ad installare applicazioni pirata nei laboratori o, pure peggio, a distribuirle tra gli studenti. È evidente la gravità di tale atto, tantopiù se perpetrato in un contesto come quello scolastico, preposto all'educazione non solo didattica ma anche civile.</p>

<hr/>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h3>Per Approfondire</h3>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="https://www.linux.it/">https://www.linux.it/</a>
					<p>Per maggiori dettagli su Linux, il sistema operativo libero e gratuito, e sul software libero in generale.</p>
				</li>
				<li class="list-group-item">
					<a href="http://sd2.itd.cnr.it/">http://sd2.itd.cnr.it/</a>
					<p>Catalogo di applicazioni software specifiche per la scuola, molte delle quali libere ed opensource.</p>
				</li>
				<li class="list-group-item">
					<a href="http://sodilinux.itd.cnr.it/">http://sodilinux.itd.cnr.it/</a>
					<p>La distribuzione Linux per la scuola italiana. Contiene numerosissimi programmi per ogni grado e materia scolastica, nonché utili funzioni per il sostegno alle disabilità.</p>
				</li>
				<li class="list-group-item">
					<a href="https://framasoft.org/it/">https://framasoft.org/it/</a>
					<p>Applicazioni web libere e gratuite. Da usare online o all'interno della propria rete scolastica.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h3>Ultime News</h3>
			</div>
			<ul class="list-group list-group-flush">
				{% for post in site.categories['software'] limit:3 %}
					<li class="list-group-item">
						<a href="{{ post.url }}">{{ post.title }}</a>
						<p>{{ post.excerpt }}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
