<div id="header">
	<img src="/assets/images/logo.png" alt="Logo Scuola" />
	<div id="maintitle">{{ site.title }}</div>
	<div id="payoff">{{ site.tagline }}</div>

	<div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/software">Software</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contenuti">Contenuti</a></li>
                    <li class="nav-item"><a class="nav-link" href="/community">Community</a></li>
                </ul>
            </div>
        </nav>

		<p class="social mt-2">
			<a href="https://twitter.com/ItaLinuxSociety"><img src="https://www.linux.it/shared/?f=immagini/twitter.svg" alt="ILS su Twitter"></a>
			<a href="https://www.facebook.com/ItaLinuxSociety/"><img src="https://www.linux.it/shared/?f=immagini/facebook.svg" alt="ILS su Facebook"></a>
      <a href="https://www.instagram.com/ItaLinuxSociety"><img src="https://www.linux.it/shared/?f=immagini/instagram.svg" alt="ILS su Instagram"></a>
      <a href="https://mastodon.uno/@ItaLinuxSociety/"><img src="https://www.linux.it/shared/?f=immagini/mastodon.svg" alt="ILS su Mastodon"></a>
			<a href="https://gitlab.com/ItalianLinuxSociety/scuola.linux.it"><img src="https://www.linux.it/shared/?f=immagini/gitlab.svg" alt="ILS su GitLab"></a>
		</p>
	</div>
</div>
